.flexo {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .table{
    flex: 2;
    margin: 5%;

  }

  .prof{
    flex: 1;
    margin: 5%;
    margin-top: 0px;
  }


  @media only screen and (max-width: 600px) {
    .flexo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }

  